@page "/ViewMarkdownDetail/{MarkdownFilePath?}"
@inject NavigationManager NavigationHelper

<div class="container">
    @((MarkupString)MarkdownDocument)
</div>
@code {
    [Parameter]
    public string MarkdownFilePath { get; set; } = string.Empty;

    public string MarkdownDocument { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        string filePath = string.Empty;
        var uri = NavigationHelper.ToAbsoluteUri(NavigationHelper.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("MarkdownFilePath", out var value))
        {
            filePath = value.First();
        }

        if (!string.IsNullOrEmpty(filePath))
        {
            MarkdownFilePath = Encoding.UTF8.GetString(Convert.FromBase64String(filePath));

            GetMarkdownItemFileDetail();
        }
    }

    public void GetMarkdownItemFileDetail()
    {
        try
        {

            if (File.Exists(MarkdownFilePath))
            {
                var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();

                string document = System.IO.File.ReadAllText(MarkdownFilePath);

                MarkdownDocument = Markdown.ToHtml(document, pipeline);
            }
        }
        catch (Exception ex)
        {
        }
    }
}
