@if (Items != null)
{
    <MudGrid>
        @foreach (var item in Items)
        {
            <MudItem xs="6" sm="4">
                <MudCard Outlined="true">
                    <MudCardContent>
                        <MudText>
                            @item.FolderName
                            @if (item.MarkdownCount > 0)
                            {
                                <span>&nbsp; (@item.MarkdownCount)</span>
                            }
                        </MudText>
                    </MudCardContent>
                    <MudCardActions>
                        @if (item.MarkdownCount > 0)
                        {
                            var pathEncode = Convert.ToBase64String(Encoding.UTF8.GetBytes(item.FolderPath));
                            var link = $"./ViewFolder?FilePath={pathEncode}";
                            <MudNavLink Href="@link" Icon="@Icons.Material.Outlined.Inbox">
                                <span>View</span>
                            </MudNavLink>
                        }
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

}

@code {
    [Parameter]
    public List<ViewMarkdownModel> Items { get; set; } = new();
}
