@inject NavigationManager UrlHelper;

@if (Items != null)
{
    <MudGrid>
        @foreach (var item in Items)
        {
            <MudItem xs="6" sm="4">
                <MudCard Outlined="true">
                    <MudCardContent>
                        <MudText>
                            <div title="@item.FilePath">
                                <span>
                                    @item.Name
                                </span>
                            </div>
                        </MudText>
                    </MudCardContent>
                    <MudCardActions>

                        @if (!string.IsNullOrEmpty(item.FilePath))
                        {
                            var pathEncode = Convert.ToBase64String(Encoding.UTF8.GetBytes(item.FilePath));
                            var link = $"./ViewMarkdownDetail?MarkdownFilePath={pathEncode}";
                            <MudNavLink Href="@link" Icon="@Icons.Material.Outlined.Inbox">
                                <span>View</span>
                            </MudNavLink>
                        }
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

}

@code {
    [Parameter]
    public List<MarkdownItem> Items { get; set; } = new();
}